
.first-page {
  font-family: 'Segoe UI', sans-serif;
  background-color: #EFF1F8;
  min-height: 100vh;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.hero {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  gap: 3rem;
  flex-wrap: wrap;
}

.hero-text {
  flex: 1;
  /* max-width: 640px; */
}

.hero-text h2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #010001;
  margin-bottom: 3.5rem;
}

.hero-text p {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 2.2rem;
  line-height: 1.8;
}

.cta-button {
  background-color: #1E3A8A;
  color: #fff;
  padding: 14px 30px;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.cta-button:hover {
  background-color: #2b385e;
  transform: translateY(-2px);
}

.cta-button:active{
  background-color: #1E3A8A;
  color: #fff;
  transform: translateY(0);
  border: 2px solid #1E3A8A;
} 

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.hero-image img {
  border: 2px solid #fff;
  border-radius: 45px;
  max-width: 100%;
  width: 1000px;
  height: auto;
  mix-blend-mode: multiply;
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.30));
  transition: transform 0.3s ease;
}

.hero-image img:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .hero-text, .hero-image {
    flex: unset;
    width: 100%;
  }

  .hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .cta-button {
    font-size: 1.5rem;
    padding: 12px 24px;
  }

  .hero-image img {
    max-width: 90%;
    border-radius: 24px;
  }
}
